<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>My dashboard</h1>
    <% messages.map( message =>{ %>
    <div class="message">
      <h1><%= message.title %></h1>
      <p><%= message.text %></p>

      <p>
        Written by: <%= message.first_name %> <%= message.last_name %> on <%=
        message.created_at %>
      </p>
    </div>

    <% }) %>
  </body>
</html>
