<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Become an administrator</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('header') %> <%- include('sub-header-form') %>
    <div class="box-form">
      <h1>
        Hello <%= currentUser.first_name %>,<br />
        join the staff
      </h1>
      <% if(errors){ %> <%- include('errors', { errors }) %> <% }%>
      <p>Enter the secret admin pass code to join the staff</p>

      <form action="/users/join-staff/<%= currentUser.id %>" method="POST">
        <div class="field">
          <input
            type="text"
            name="adminPassCode"
            id="adminPassCode"
            placeholder="Secret Admin Pass Code"
          />
        </div>

        <button class="submit-btn" type="submit">Join the staff</button>
      </form>
    </div>
  </body>
</html>
