<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>My dashboard</h1>
    <% messages.map( message =>{ %>
    <div class="message">
      <h1><%= message.title %></h1>
      <p><%= message.text %></p>

      <p>
        Written by: <%= message.first_name %> <%= message.last_name %> on <%=
        message.created_at %>
      </p>
      <button messageId="<%= message.id %>" class="delete-btn">Delete</button>
    </div>

    <% }) %>
    <script>
      const allDeleteButtons = document.querySelectorAll("button");

      allDeleteButtons.forEach((button) => {
        button.addEventListener("click", (e) => {
          const messageId = button.getAttribute("messageId");

          if (confirm("Are you sure you want to delete this message?")) {
            // Send a DELETE request to the server
            fetch(`/messages/${messageId}/delete`, {
              method: "POST",
            })
              .then((response) => {
                if (response.ok) {
                  // Remove the item from the DOM if successfully deleted
                  // button.closest('div').remove();
                } else {
                  alert("Failed to delete item. Please try again.");
                }
              })
              .catch((error) => {
                console.error("Error:", error);
                alert("An error occurred while deleting the item.");
              });
          }
        });
      });
    </script>
  </body>
</html>
