<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Members Only | Node JS</title>
  </head>
  <body>
    <% if (currentUser) {%>
    <h1>WELCOME BACK <%= currentUser.first_name %></h1>

    <a href="messages/new">Create a new message</a><br />
    <% if (currentUser.membership_status){ messages.map( message =>{ %>
    <div class="message">
      <h1><%= message.title %></h1>
      <p><%= message.text %></p>
      <!-- Show author's name if user is a member -->
      <p>
        Written by: <%= message.first_name %> <%= message.last_name %> on <%=
        message.created_at %>
      </p>
      <% if (currentUser.admin) { %>

      <button message_id="<%= message.id %>" class="delete-btn">Delete</button>

      <% } %>
    </div>

    <% }) } else { %>

    <a href="/users/join-the-club">Become a member</a>

    <% messages.map( message =>{ %>
    <div class="message">
      <h1><%= message.title %></h1>
      <p><%= message.text %></p>
      <p>Written by: Anonymous</p>
    </div>

    <% }) %> <% }; %>

    <a href="/log-out">LOG OUT</a>
    <% } else { %>
    <h1>please log in</h1>
    <form action="/log-in" method="POST">
      <label for="email">Email</label>
      <input id="email" name="email" placeholder="email" type="text" />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
      <button>Log In</button>
    </form>

    <% messages.map( message => { %>
    <div class="message">
      <h1><%= message.title %></h1>
      <p><%= message.text %></p>
      <p>Written by: Anonymous</p>
    </div>

    <% }) }%>

    <script>
      const allDeleteButtons = document.querySelectorAll("button");

      allDeleteButtons.forEach((button) => {
        button.addEventListener("click", (e) => {
          const messageId = button.getAttribute("message_id");

          if (confirm("Are you sure you want to delete this message?")) {
            // Send a DELETE request to the server
            fetch(`/messages/${messageId}/delete`, {
              method: "POST",
            })
              .then((response) => {
                if (response.ok) {
                  // Remove the item from the DOM if successfully deleted
                  // button.closest('div').remove();
                } else {
                  alert("Failed to delete item. Please try again.");
                }
              })
              .catch((error) => {
                console.error("Error:", error);
                alert("An error occurred while deleting the item.");
              });
          }
        });
      });
    </script>
  </body>
</html>
