<div class="message">
  <h2><%= message.title %></h2>
  <p><%= message.text %></p>
  <% if(currentUser && currentUser.membership_status){ %>

  <p>
    Posted by
    <span class="author"
      ><%= message.first_name %> <%= message.last_name %>
    </span>
    on
    <span class="date"
      ><%= new Date(message.created_at).toLocaleDateString('en-US', { day:
      'numeric', month: 'long', year: 'numeric' }) %></span
    >
  </p>

  <% if(currentUser.admin) { %>

  <button class="delete-btn" message_id="<%= message.id %>">Remove</button>
  <%} } %>
</div>
